__pycache__/
*.py[cod]
*$py.class

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

.env
.env.*
!.env.example


venv/
env/
ENV/
.venv/

staticfiles/
static/


node_modules/
dist/
build/
coverage/

# Vite
.vite/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


.vscode/
.idea/


.DS_Store
Thumbs.db

*.tsbuildinfo

*.dump
*.sql